@{
    ViewData["Title"] = "User Info";
}

@model ApplicationUser

<style>
    table.table-bordered th, table.table-bordered td {
        border: 2px solid black;
    }

    td {
        font-weight: 500;
    }
</style>

<div class="card shadow border-0 mt-5">
    <div class="card-header bg-secondary bg-gradient ml-0 py-4">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="py-2 text-white">User Info</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <table class="table table-bordered">
            <tr>
                <td style="width: 66.66%">Username</td>
                <td>@Model.UserName</td>
            </tr>
            <tr>
                <td>Name</td>
                <td>@Model.Name</td>
            </tr>
            <tr>
                <td>Surname</td>
                <td>@Model.Surname</td>
            </tr>
            <tr>
                <td>Birth Date</td>
                <td>@Model.BirthDate</td>
            </tr>
            <tr>
                <td>Adress</td>
                <td>@Model.Adress</td>
            </tr>
        </table>
    </div>
</div>